{% extends 'index.twig' %}

{% block content %}
<table border="1">
    <tr>
        <td>Salvar Nome: </td><td>{{ contatoNome | json_encode() }}</td>
    </tr>
    <tr>
        <td>Salvar Telefone: </td><td>{{ contatoTelefone | json_encode() }}</td>
    </tr>
    <tr>
        <td>Salvar E-mail: </td><td>{{ contatoEmail | json_encode() }}</td>
    </tr>
</table>
{% endblock %}
